/*------------------------------------Footer---------------------------------------*/

footer{
    grid-area: ft;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 2px black;

}
